name: manual_rollback-dynamodb

on:
  workflow_dispatch:
    inputs:
      ambiente:
        description: Ambiente al cual se hará rollback de DynamoDB
        required: true
        type: choice
        options:
          - 'develop'
          - 'production'

jobs:
  ################ DEVELOP #######################
  DevRollbackDynamoDB:
    if: {{'${{'}} github.event.inputs.ambiente == 'develop'{{ '}}' }}
    runs-on: ubuntu-20.04
    environment: develop
    steps:
      - if: {{'${{'}} github.event.inputs.ambiente == 'develop'{{ '}}' }}
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::{{'${{'}}secrets.{{cookiecutter.DEV_secret_aws_account_id}}{{ '}}' }}:role/{{cookiecutter.DEV_ROLE_DEPLOY}}
          role-session-name: {{cookiecutter.DEV_ROLE_DEPLOY}}
          aws-region: us-east-1

      - uses: actions/checkout@v2
      # Imprimir variables
      - name: "Imprimir variables de referencia"
        run: |
          echo "Head Ref - $GITHUB_HEAD_REF"
          echo "Branch -  $GITHUB_REF"
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: "Rollback tablas Dynamo"
        run: |
          pip install boto3
          python3 rollback-dynamo.py -a dev -r us-east-1 -rdr us-west-2

  ################ PRODUCTION #######################
  ProdRollbackDynamoDB:
    if: {{'${{'}}github.event.inputs.ambiente == 'production'{{ '}}' }}
    runs-on: ubuntu-20.04
    environment: production
    steps:
      # Credenciales de producción
      - if: {{'${{'}} github.event.inputs.ambiente == 'production' {{ '}}' }}
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::{{'${{'}}secrets.{{cookiecutter.PROD_secret_aws_account_id}}{{ '}}' }}:role/{{cookiecutter.PROD_ROLE_DEPLOY}}
          role-session-name: {{cookiecutter.PROD_ROLE_DEPLOY}}
          aws-region: us-east-1

      - uses: actions/checkout@v2
      # Imprimir variables
      - name: "Imprimir variables de referencia"
        run: |
          echo "Head Ref - $GITHUB_HEAD_REF"
          echo "Branch -  $GITHUB_REF"
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: "Rollback tablas Dynamo"
        run: |
          pip install boto3
          python3 rollback-dynamo.py -a prod -r us-east-1 -rdr us-west-2
permissions:
  id-token: write
  contents: read
