name: manual_deploy_dev


on:

  workflow_dispatch:
    inputs:
      rama:
        description: Rama a desplegar
        required: true
        type: string
concurrency: develop

jobs:


  DevDeploy:
    uses: {{cookiecutter.org_or_user_github}}/{{cookiecutter.nombre_repo}}/.github/workflows/reusable_deploy.yml@main
    with:
      ambiente: "develop"
      region: us-east-1
      ref: {{'${{'}}github.event.inputs.rama{{ '}}' }}
    secrets: inherit