name: 5  Fix Release


on:
  
  workflow_dispatch:
    inputs:
      version:
        description: Versi贸n a la que se le har谩 hotfix
        required: true
        type: string
      version_fix:
        description: Versi贸n que se estar铆a liberando para este fix. Ej. Si la versi贸n a corregir es 3.0.1 esta versi贸n ser铆a 3.0.2
        required: true
        type: string
      dynamodb:
        description: 'Activa la insercion de datos de la carpeta tablas DynamoDB 锔 CUIDADO: Validar que la inserci贸n en tablas no afecta a otros procesos.'
        required: false
        default: false
        type: boolean

concurrency: develop

jobs:

  Hotfix:
    permissions: write-all
    uses: {{cookiecutter.org_or_user_github}}/{{cookiecutter.nombre_repo}}/.github/workflows/reusable_create_fix.yml@main
    with:
      ref: {{'${{'}}github.event.inputs.version{{ '}}' }}
      fix: {{'${{'}}github.event.inputs.version_fix{{ '}}' }}

  DevDeploy:
    needs: Hotfix
    uses: {{cookiecutter.org_or_user_github}}/{{cookiecutter.nombre_repo}}/.github/workflows/reusable_deploy.yml@main
    with:
      ambiente: "develop"
      region: {{cookiecutter.region_primaria}}
      ref: fix/{{'${{'}}github.event.inputs.version_fix{{ '}}' }}
      rama_config: "fix/{{'${{'}}github.event.inputs.version_fix{{ '}}' }}"
      region_dr: {{cookiecutter.region_secundaria}}
      dynamodb: {{'${{'}}github.event.inputs.dynamodb{{ '}}' }}
    secrets: inherit
permissions:
  id-token: write
  contents: read    